.App {
  display: grid;
  grid-template-columns: 300px auto;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.sidebar {
  background-color: rgb(17, 24, 31);
  overflow-y: auto;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(29, 37, 37);
  overflow-y: auto;
  overflow-x: hidden;
}

.form-wrapper {
  width: 100%;
}

.form-wrapper input {
  padding: 10px 20px;
  width: 100%;
  max-width: -webkit-fill-available;
  background-color: rgb(15, 16, 19);
  border: none;
  border-radius: 18px;
  font-size: 16px;
  caret-color: rgb(230, 190, 17);
  color: white;
}

.form-wrapper input:focus {
  outline: none;
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}

.content-header .form-wrapper {
  max-width: 450px;
}

.app-title {
  font-size: 28px;
  color: whitesmoke;
  margin: 0;
}
